<h1>Pedido - {{pedidos.id}} </h1>

{% block content %}

<form action="." method="POST"> {% csrf_token %}
<ol>
    <li>
        <select name="dropdown_pratos">
            {% for i in produtos %}
            <option value="{{ i }}">{{forloop.counter}} - {{ i }}</option>
            {% endfor %}
        </select>
    </li>
    <li>
        <select name="dropdown_tamanho">
            {% for i in produtos %}
            <option value="{{ i }}">{{forloop.counter}} - {{ i }}</option>
            {% endfor %}
        </select>
    </li>
    <li>
        {{ form.qtd }}
    </li>

</ol>
</form>


{% endblock %}