<nav>

    <ul style="list-style-type: none; margin: 0;padding: 0; overflow: hidden; background-color: #333">
        <li style="float: left"><a
                style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none; "
                href="../../../../../">Home</a></li>
        <li style="float: left"><a
                style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none; "
                href="../../../../../cliente/">Clientes</a></li>
        <li style="float: left"><a
                style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none; "
                href="../../../../../pedido/">Pedidos</a></li>
        <li style="float: left"><a
                style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none; "
                href="../../../../../estoque/">Estoque </a></li>
    </ul>
</nav>