{% extends 'sitemarmileve/base.html' %}

{% block content %}

<body style="background-color: #a0e36b">
<div class="container-fluid">
    <form class="form-group" action="." method="POST" style="margin-top: 10px">{% csrf_token %}
        <select class="form-control" name="dropdown_id" id="">
            {% for i in pedidos %}
            <option value="{{ i.id }}"> {{ i.id }} - {{ i.nome }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value="Verificar" style="margin-top: 10px"/>
    </form>
</div>
<h2 class="text-center">Dados sobre o Pedido #{{ pedido.id }}</h2>
<form>
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col">
                <label for="nome" class="col-form-label"><strong>Nome</strong></label>
                <input type="text" readonly class="form-control-plaintext" id="nome" value=" {{ cliente.nome }} ">
            </div>
            <div class="form-group col">
                <label for="nome" class="col-form-label"><strong>Telefone</strong></label>
                <input type="text" readonly class="form-control-plaintext" id="nome" value=" {{ cliente.telefone }} ">
            </div>
        </div>
        <div>
            <label for="nome" class="col-form-label"><strong>Email</strong></label>
            <input type="text" readonly class="form-control-plaintext" id="nome" value=" {{ cliente.email }} ">
        </div>
        <div>
            <label for="nome" class="col-form-label"><strong>Endereco: </strong></label>
            <a href="http://www.google.com/maps/search/{{endereco.endereco}}+{{endereco.numero}}+{{endereco.bairro}}">
                {{endereco.endereco}},{{endereco.numero}},{{endereco.complemento}}</a>
        </div>
    </div>

</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th> Prato </th>
            <th> Tamanho </th>
            <th> Qtd </th>
        </tr>
    </thead>
        {% for i in itempedido %}
        <tr>
            <th>{{ i.prato }}</th>
            <th>{{ i.tamanho }}</th>
            <th>{{ i.qtd }}</th>
        </tr>
        {% endfor %}
    <tbody>

    </tbody>
</table>

<div class="container-fluid">
    <h3 class="text-right"> Subtotal: {{ subtotal}}</h3>
    <h3 class="text-right"> Frete: {{ frete.valorfrete}}</h3>
    <h3 class="text-right"> Total: {{ pedido.valortotal}}</h3>

</div>


</body>
{% endblock %}